/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 2

   Pizza Style Sheet
   Author: Juozas Kripas
   Date:   2/20/2016

   Filename:         pizza.css
   Supporting Files: 


Seting main sections of the page as blocks
*/
header, section, aside, footer, nav{
    display: block;
}

*{
    padding: 0px;
    margin: 0px;
}

/*Body style rules*/
body{
    background-color: red;
    font-family: Verdana, Geneva, sans-serif;
}

/*The div id'container' is the whole page*/
#container{
    width: 1000px;
    margin: 0px auto 0px auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: white;
    background-image: url(redbar.png);
    background-position: top left;
    background-repeat: repeat-y;    /*repeating'tilling' an image vertically only*/
}

/*Header style rules*/
header{
    background-color: white;
    height: 100px;
}

/*Horizontal Menu List style rules*/
.horizontal {
    height: 70px;
    width: 100%;
    background-color: white;
}
.horizontal ul li{  /*Horizontal Menu individual list item style rules*/
    background-color: white;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    width: 180px;
    display: block;
    float: left;
    margin: 0 5px 0 5px;
    text-align: center;
}
.horizontal ul li a{    /*Horizontal Menu Link  style rules*/
    display: block;
    background-color: red;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-decoration: none;
}
.horizontal ul li a:hover{
    background-color: rgb(255,101,101);
    color: black;
}
