/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 2

   Pizza Style Sheet
   Author: Juozas Kripas
   Date:   2/20/2016

   Filename:         pizza.css
   Supporting Files: 


Seting main sections of the page as blocks
*/
header, section, aside, footer, nav{
    display: block;
}

*{
    padding: 0px;
    margin: 0px;
}

/*Body style rules*/
body{
    background-color: red;
    font-family: Verdana, Geneva, sans-serif;
}

/*The div id'container' is the whole page*/
#container{
    width: 1000px;
    margin: 0px auto 0px auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: white;
    background-image: url(redbar.png);
    background-position: top left;
    background-repeat: repeat-y;    /*repeating'tilling' an image vertically only*/
}

/*Header style rules*/
header{
    background-color: white;
    height: 100px;
}

/*Horizontal Menu List style rules*/
.horizontal {
    height: 70px;
    width: 100%;
    background-color: white;
}
.horizontal ul li{  /*Horizontal Menu individual list item style rules*/
    background-color: white;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    width: 180px;
    display: block;
    float: left;
    margin: 0 5px 0 5px;
    text-align: center;
}
.horizontal ul li a{    /*Horizontal Menu Link  style rules*/
    display: block;
    background-color: red;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-decoration: none;
}
.horizontal ul li a:hover{
    background-color: rgb(255,101,101);
    color: black;
}

/*Vertical Navigation List Style Rules*/
.vertical {
    clear: left;
    float: left;
    width: 200px;
}
.vertical ul li{    /*List Items within the vertical navigation menu*/
    list-style-type: none;
    text-indent: 20px;
    margin: 20px 0 20px 0;
}
.vertical ul li a{  /*Links within the vertical navigation menu*/
    color: white;
    text-decoration: none;
}
.vertical ul li a:hover{
    color: black;
}

/*Section id#main Style Rules*/
#main{
    background-color: rgb(255,211,211);
    float: left;
    width: 600px;
    }
#main p{
    font-size: 20px;
    margin: 15px;
}
#main img{
    float: right;
    margin: 15px;
    width: 350px;
    border-bottom-left-radius: 350px;
}

/*Div 'coupon' element rules*/
.coupon{
    border: 5px dashed black;
    float: left;
    width: 170px;
    height: 150px;
    margin: 20px 10px 20px 10px;
    background-image: url(slice.png);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(notice.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: white;
   
}
.coupon h1{
    color: white;
    background-color: rgb(192,0,0);
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    height: 25px;
    text-transform: lowercase;
    
}
.coupon p{
    font-size: 14px;
    text-align: center;
    margin: 5px;
}